@import "tailwindcss";

@layer base {
  .noise-overlay::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0.05;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 256px 256px;
    z-index: 9999;
  }
}

@theme {
    /* COLORS */
    --color-base-100: oklch(14% 0.004 49.25);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: oklch(26% 0.007 34.298);
    --color-base-400: oklch(37% 0.01 67.558);
    --color-base-500: oklch(44% 0.011 73.639);
    --color-base-600: oklch(55% 0.013 58.071);
    --color-base-700: oklch(70% 0.01 56.259);
    --color-base-800: oklch(86% 0.005 56.366);
    --color-base-900: oklch(98% 0.001 106.423);

    /* FONTS */
    --font-grunge: var(--font-grunge);
    --font-mono: var(--font-mono);

    /* TEXT SIZES */
    --text-216: 13.5rem;
    --text-128: 8rem;
    --text-96: 6rem;
    --text-80: 5rem;
    --text-64: 4rem;
    --text-48: 3rem;
    --text-40: 2.5rem;
    --text-32: 2rem;
    --text-24: 1.5rem;
    --text-20: 1.25rem;
    --text-16: 1rem;
    --text-12: 0.75rem;

    /* ANIMATIONS */
    --animate-spin: spin 5s linear infinite;
    @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

    /* BREAKPOINTS */
    --breakpoint-xsm: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1440px;
}
